.header{
    background-color: #6D7993;
    width: 100%; 
  

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerLogos{
   height: 40px;
  
}

.logoMargin{
    margin: 10px 100px 10px 100px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 3px rgb(45, 55, 77); 

}