<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">SubMarca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let auto of autos">
            <td>{{auto.marca}}</td>
            <td>{{auto.submarca}}</td>
            <td>{{auto.modelo}}</td>
            <td>{{auto.fecha_registro.getDay().toString()+
                "/"+auto.fecha_registro.getMonth().toString() +
                 "/" + auto.fecha_registro.getFullYear().toString()}}</td>
            
        </tr>
    </tbody>
</table>


