<div>
    <div (click)="openModalAgregar()" class="float-right m-2"> 
        <h5 class="agregar">Agregar
        <i class="fas fa-plus-circle"></i>
        </h5>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Marca</th>
                <th scope="col">SubMarca</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Modelos</th>
                <th scope="col">  </th>
                <th scope="col">  </th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                <td scope="row">{{auto._id}}</td>
                <td>{{auto.marca}}</td>
                <td>{{auto.submarca}}</td>
                <td>{{auto.descripcion}}</td>
                <td>[Desde: {{auto.modelos[0]}} Hasta: {{auto.modelos[auto.modelos.length-1]}}]</td>
                <td (click)="openModalEliminar(auto)"> 
                    <i class="fas fa-trash"></i>
                </td>
                <td (click)="openModalEditar(auto)"> 
                    <i class="fas fa-pen-square"></i>
                </td>
    
                
            </tr>
        </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center " [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos?.length"></ngb-pagination>
</div>



