.vista{
    display: flex;
    justify-content: space-around;

    background-color: #d5d5d5;
    margin: .25rem 15% .25rem 15%;
    border: 1px solid  #96858F;
    text-shadow: 1px 1px 2px rgb(88, 71, 81); 
     

}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: black;
    margin: 2px;
}

.separador{
    width: 100%;
    text-align: center;
    border: 1px solid #96858F;
}

.separador:hover{
    width: 100%;
    text-align: center;
    border: 1px solid #96858F;
    background-color: #999999;
    text-shadow: 3px 3px 4px rgb(88, 71, 81); 
  
}

.active{
    width: 100%;
    text-align: center;
    border: 1px solid #96858F;
    background-color: #6D7993;
    text-shadow: 3px 3px 4px rgb(88, 71, 81);  
}

a{
    text-decoration: none;
}

