<div>
    <ng-container *ngFor = "let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <div class="car-list">
            <div class="far fa-eye eye-icon" (click)="onClick(content, auto)"></div>
            <div class="list-text"> {{auto.descripcion}}</div>                 
        </div>
    </ng-container>
    <ngb-pagination class="d-flex justify-content-center " [(page)]="page" [pageSize]="pageSize" [collectionSize]="40"></ngb-pagination>
</div>



<ng-template #content let-d="dismiss">
    <div class="modal-header modal-color">
        <h3 class="modal-title" id="modal-basic-title">Informacion Automovil</h3>
        <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
            <span><i class="far fa-eye-slash"></i></span>
        </button>
    </div>

    <div class="modal-body modal-color">
        
        <div>{{autoMarca}}</div> 
        <div>{{autoSubmarca}}</div>
        <div>{{autoModelo}}</div>
        <div>{{autoDescripcion}}</div>

    </div>

</ng-template>


    



