<div class="modal-header modal-color">
    <h4 class="modal-title" id="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-color">
    <p><strong>Estas seguro de querer eliminar {{auto.descripcion}} ?</strong></p>
    <p>
    <span class="text-danger">Al dar Ok se eliminara el registro permanentemente</span>
    </p>
  </div>
  <div class="modal-footer modal-color">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close(auto)">Ok</button>
</div>